<%#interestに移行したため使っていない%>
<tr id="company-<%= company.id %>">
  <td><img border="0" height="60px" src="<%= company.logoURL %>" alt="logo"></td>
  <td><p class="text-center" valign="middle"><%= company.name %></p></td>
</tr>