<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @evaluation_item.title %>
</p>

<%= link_to 'Edit', edit_evaluation_item_path(@evaluation_item) %> |
<%= link_to 'Back', evaluation_items_path %>
